
 <div class="wrapper d-flex align-items-center justify-content-center" >
    <form #f="ngForm"  (ngSubmit)="onSubmit(f)" class="form-signin">
       <h2 class="form-signin-heading">Please login</h2>
       <input type="email" ngModel name="email" email required #username="ngModel" class="form-control mb-2" name="username" placeholder="Email Address"  autofocus="" />
       <input type="password" ngModel  name="pass" #password="ngModel" class="form-control" name="password" placeholder="Password" />      
       <label class="checkbox">
       <input type="checkbox" ngModel #remember="ngModel" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
       </label>
       <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
    </form>
 </div>

 <pre class="mx-5 my-5">{{f.value | json}}</pre>