<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-4">
  <ngb-panel title="Simple Array">
    <ng-template ngbPanelContent>
      <table class="table table-boarded">
        <thead>
          <tr>
            <th>No.</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let el of simpleArray">
            <td>{{ el }}</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-panel>
  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Fancy</b> Array of Objects &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <table class="table table-boarded">
        <thead>
          <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Department</th>
            <th>Manager</th>
            <th>Salary</th>
          </tr>
        </thead>
        <tbody>
          <tr sdaHover *ngFor="let movie of moviesArray;let i = index">
            <td>{{i + 1}}</td>
            <td>{{ movie.name }}</td>
            <td>{{ movie.department }}</td>
            <td>{{ movie.manager }}</td>
            <td>{{ movie.salary }}</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-panel>
  <ngb-panel>
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Fancy</b> Object of Objects &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      <table class="table table-boarded">
        <thead>
          <tr>
            <th>No.</th>
            <th>Name</th>
            <th>Department</th>
            <th>Manager</th>
            <th>Salary</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of moviesObject | keyvalue;let i = index">
            <td>{{i + 1}}</td>
            <td [ngStyle]="showStyle ? clumsyStyle : null" (click)="showStyle = !showStyle">{{ m.value.name }}</td>
            <td>{{ m.value.department }}</td>
            <td [ngClass]="{'red-color': showStyle}">{{ m.value.manager }}</td>
            <td [ngClass]="['big-font', 'red-color', 'border']">{{ m.value.salary }}</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Pipes">
    <ng-template ngbPanelContent>
      <table class="table table-boarded">
        <thead>
          <tr>
            <th>Original value</th>
            <th>Pipe used</th>
            <th>Modified value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{uppercaseValue}}</td>
            <td>lowercase</td>
            <td>{{ uppercaseValue | lowercase}}</td>
          </tr>
          <tr>
            <td>{{date}}</td>
            <td>date: 'fullTime'</td>
            <td>{{date | date: 'fullTime'}}</td>
          </tr>
          <tr>
            <td>{{personObject}}</td>
            <td>json</td>
            <td>{{personObject | json}}</td>
          </tr>
          <tr>
            <td>{{longString}}</td>
            <td>slice: 4:9</td>
            <td>{{longString | slice: 4:9}}</td>
          </tr>
          <tr>
            <td>0.3333</td>
            <td>percent</td>
            <td>{{ 0.3333 | percent}}</td>
          </tr>
          <tr>
            <td>1200</td>
            <td>currency</td>
            <td>{{ 1200 | currency: 'EUR'}}</td>
          </tr>
          <tr>
            <td>11</td>
            <td>custom: modulo</td>
            <td>{{ 11 | modulo: 2}}</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Simple Array">
    <ng-template ngbPanelContent>
      <table class="table table-boarded">
        <thead>
          <tr>
            <th>No.</th>
          </tr>
        </thead>
        <tbody>
          <input type="text" [(ngModel)]="inputString"/>
          <tr *ngFor="let el of simpleArray | filter : inputString">
            <td (click)="doSth(el)">{{ el }}</td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-panel>
</ngb-accordion>














 <!-- <div class="wrapper d-flex align-items-center justify-content-center" >
    <form class="form-signin">
       <h2 class="form-signin-heading">Please login</h2>
       <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
       <input type="password" class="form-control" name="password" placeholder="Password" required=""/>      
       <label class="checkbox">
       <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
       </label>
       <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
    </form>
 </div> -->